name: go-lint

on: [pull_request]

jobs:
  lint:
    uses: wittdennis/pipelines/.github/workflows/go-lint.yaml@1.11.3
    with:
      go-version: "1.24.x"
      golangci-version: "v1.64.8" # renovate: datasource=github-releases depName=golangci/golangci-lint versioning=semver
