on: [push, pull_request]
name: linting
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          cache: false
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
