name: publish-image

on:
  release:
    types: published

jobs:
  publish:
    uses: wittdennis/pipelines/.github/workflows/container-image-publish.yaml@1.11.36
    with:
      image-name: ts3exporter
    secrets:
      registry-password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
