name: github-release

on:
  workflow_dispatch:

jobs:
  get-version:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: bump version
        id: release
        uses: oknozor/cocogitto-action@v3.11
        with:
          check-latest-tag-only: true
          dry-run: true

  release:
    uses: wittdennis/pipelines/.github/workflows/cog-release.yaml@1.13.5
    with:
      check-latest-tag-only: true
      release-files: |
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_checksums.txt
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_darwin_amd64.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_darwin_arm64.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_linux_386.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_linux_amd64.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_linux_arm64.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_windows_386.tar.gz
        dist/ts3exporter_${{ needs.get-version.outputs.version }}_windows_amd64.tar.gz
    secrets:
      release-token: ${{ secrets.RELEASE_TOKEN }}
    needs: get-version
