name: release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: fetch tag
        run: git fetch --force --tags

      - name: setup git variables
        id: git_variables
        run: |
          echo "SOURCE_NAME::${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "SOURCE_BRANCH::${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
          echo "SOURCE_TAG::${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.20.x

      - name: Test
        run: go test ./...

      - name: Vet
        run: go vet ./...

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        name: docker login
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push image
        env:
          VERSION: ${{ steps.git_variables.outputs.SOURCE_TAG }}
        run: |
          set -e
          docker buildx build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/ts3exporter:$VERSION \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/ts3exporter:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 \
            --push \
            .
