on: [pull_request]
name: tests
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Test
        run: go test ./...
      - name: Vet
        run: go vet ./...
